.icon_primary{
    background-image: url(../../images/care.svg);
    background-color: white;
}
.icon_user{
    background-image: url(../../images/man-user.svg);
    background-color: white;
}
.icon_menu{
    background-image: url(../../images/menu_icon.svg);
}
.icon_home{
    background-image: url(../../images/house.svg)
}
.icon_close{
    background-image: url(../../images/close.svg)
}
.icon{
    text-indent: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: -.1rem;
    margin-right: .372rem;
    width: 1.563rem;
    height: 1.363rem;
    color: white;
}