.title-text {
    line-height: 2vw;
    font-size: 2vw;
  }
.sm-title-text {
    font-size: 1.3vw;
}
          // .hint-text {
          //   font-size: 1vw;
          // }
.bg-text {
    font-size: 3vw;
}