//主色
$primary-color:rgb(19, 14, 14);
//第二主色
$second-color:rgb(87, 81, 110);
//其他
$other-color:white;

//----------------------------- RWD 斷點 -----------------------------
$xl-media:1200px;
$lg-media:992px;
$md-media:768px;
$sm-media:576px;